<div class="moduleContainer" class="centerPanel" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'center'">
	<div class="activatable floatLeft" data-dojo-attach-point="alcoholBillableServices" data-dojo-type="app.modules.companies.companySetup.configServices.BillableServices"></div>
	<div style="clear: both;" data-dojo-attach-point="alcoholTestTemplates" class="edgePanel activatable" data-dojo-props="service: 'ALCOHOL'" data-dojo-attach-point="alcoholTestTemplates" data-dojo-type="app.modules.companies.companySetup.configServices.TestTemplates"></div>
</div>	
	
