<div class="moduleContainer" data-dojo-type="dijit.layout.BorderContainer">
	<div class="logo_small floatLeft" style="width:55px; height:49px;"></div>
	<div class="floatLeft">
		<h1 style="color:#FFFFFF; float:left; padding-top: 5px; padding-left:5px; margin:0;">UTCHI</h1>
		<h2 style="color:#AAAAAA; float:left; clear:left; padding-top:5px; padding-left:5px; margin:0;">And it came to pass</h2>
	</div>
	
	<button class="floatRight pad10" dojoType="dijit.form.Button" data-dojo-attach-point="tellButton">New story</button>
	<button class="floatRight pad10" dojoType="dijit.form.Button" data-dojo-attach-point="storiesButton">Stories</button>
	<h3 data-dojo-attach-point="nameLabel" style="color:#FFFFFF; float:right; padding-top: 14px; padding-left:5px;"> Osvaldo</h3>
</div>
		
