<div>
	<div style="width: 280px; color: #ffffff; margin-left: auto; margin-right: auto; margin-top: 200px;">
		<div style="margin-left: 10px; margin-top: 20px;">
				<form class="pad10" dojoType="app.form.AjaxForm" data-dojo-attach-point="loginForm" style="width:196px;">
				<div class="logo" style="width:191px; height:171px;"></div>
				<h1>UTCHI . Story telling</h1>
				<br />
				<table cellpadding="0" cellspacing="2">
					<tr>
						<td  vertical-align="middle"><strong>Nickname: </strong></td>
					</tr>					
					<tr>
						<td><input type="text" required="true" name="usernameFld" data-dojo-attach-point="usernameFld" dojoType="dijit.form.ValidationTextBox" missingMessage="Please enter a nickname" /></td>
					</tr>
				</table>
			
				<button class="floatRight pad10" dojoType="dijit.form.Button" data-dojo-attach-point="loginButton">Enter</button>
			</form>
		</div>
	</div>
</div>	
