<div class="moduleContainer" class="centerPanel" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region: 'center'" style="margin-bottom: 10px;">
 	<form class="pad10" dojoType="app.form.Manager" data-dojo-attach-point="companyBillingForm" method="post">
	 	<div style="margin-top: 20px;">
			<input type="checkBox" name="donor_must_pay" data-dojo-attach-point="donor_must_pay" value="true" observer="recordChange" data-dojo-type="dijit.form.CheckBox" /> 
			<label for="donor_must_pay">Donor must pay</label>
		</div>
	</form>
</div>