<div class="moduleContainer" style="width: 750px;">
	<span class="floatRight modifiedLabel" style="margin-top: -10px;" data-dojo-attach-point="saveDrugStatus" data-dojo-attach-point="saveDrugStatus">modified</span>	
	<div class="centerPanel" data-dojo-attach-point="configDrugTabs" data-dojo-attach-point="configDrugTabs" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region: 'center'" nested="true" doLayout="false"></div>
	
	<div style="margin-bottom: 10px;">
		
	</div>
	
	<div class="edgePanel" style="padding-top: 5px; padding-bottom: 5px;">
		<button class="floatRight" dojoType="dijit.form.Button" data-dojo-attach-point="submitDrugButton" data-dojo-attach-point="submitDrugButton">Save</button>
	</div>

</div>
		
