<div class="moduleContainer" style="width: 750px;">
	<span class="floatRight modifiedLabel" style="margin-top: -10px;" data-dojo-attach-point="saveAlcoholStatus" data-dojo-attach-point="saveAlcoholStatus">modified</span>	
	<div class="centerPanel" data-dojo-attach-point="configAlcoholTabs" data-dojo-attach-point="configAlcoholTabs" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region: 'center'" nested="true" doLayout="false"></div>
	
	<div class="edgePanel" style="padding-top: 5px; padding-bottom: 5px;">
		<button class="floatRight" dojoType="dijit.form.Button" data-dojo-attach-point="submitAlcoholButton" data-dojo-attach-point="submitAlcoholButton">Save</button>
	</div>
</div>
		
