<div class="moduleContainer">
	<div style="width:491px;">
		<table cellpadding="0" cellspacing="2">
			<tr>
				<td style="font-weight:bold;">Comment: </td>
			</tr>
			<tr>
				<td><div data-dojo-attach-point="storyComment" name="storyComment" data-dojo-type="app.uicomponents.Editor" data-dojo-props="editorHeight:'200px'"></div></td>
	        </tr>
	    </table>

	    <button class="floatRight pad10" dojoType="dijit.form.Button" data-dojo-attach-point="saveButton">Save</button>
	<div/>

	
	
</div>
		
