<div class="moduleContainer">
	
	<!-- 
	<div data-dojo-attach-point="companySetup" class="activatable includeInStates setup" data-dojo-type="app.modules.companies.CompanySetup"></div> 
	-->
	<div data-dojo-attach-point="companyList" class="activatable" data-dojo-type="app.modules.companies.CompanyList"></div>
	<div data-dojo-attach-point="companySetupDialog" class="activatable includeInStates dialogsetup" data-dojo-type="app.loader.DialogLauncher" data-dojo-props="moduleURL: 'app/modules/companies/CompanySetup', title : 'Company Setup',  dialogWidth: '800px', dialogHeight: '620px'"></div>
	
</div>
		
