<div class="moduleContainer">
	<div data-dojo-type="dijit.ProgressBar" style="width:150px; clear: both;" data-dojo-attach-point="completionProgress" data-dojo-props="maximum:100, progress:65"></div>
	
	<table style="clear: both; width: 100%;">
		<tr vertical-align="middle">
			<td><span class="link" style="margin-bottom: 5px;">3 pending items</span></td>
			<td style="text-align: right;" ><div data-dojo-type="dijit.form.Button" style="padding-right: 0;" data-dojo-attach-point="newPendingItem">Add</div></td>
		</tr>
	</table>
</div>
		
