<div class="dc_dialog" style="padding-top: 0;">
	<div class="centerPanel" data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="contentLoader" style="padding:0; margin:0; overflow:hidden;" data-dojo-props="region: 'center'"></div>
	<div class="edgePanel" data-dojo-type="dijit.layout.ContentPane" style="margin-top: 10px;" data-dojo-props="region: 'bottom'">
		<div class="floatRight" data-dojo-type="dijit.form.Button" data-dojo-attach-point="_submitBtn">
    	    Ok
    	</div>
		<div class="floatLeft" data-dojo-type="dijit.form.Button" data-dojo-attach-point="_closeBtn">
    	    Close
    	</div>
		<div style="width:400px; text-align:center;margin-left:auto;margin-right:auto;" class="note_label">Can't see the document? <a href="http://get.adobe.com/reader/" target="_blank">download Acrobat Reader</a></div>
    </div>
</div>